{% load petag %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{% block title %}Web PE {% endblock %}</title>
    <link rel="stylesheet" 
	  href="/static/css/smoothness/jquery-ui-1.9.2.custom.min.css" 
	  type="text/css" media="screen" />
    {% block css %}{% endblock %}
    <script type="text/javascript" 
	    src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" 
	    src="/static/js/jquery-ui-1.9.2.custom.min.js"></script>
    {% block js %}{% endblock %}
  </head>
  <body>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
  </body>
</html>
