{% extends "base.html" %}
{% load petag %}
{% block css %}
<style type="text/css" media="screen">
  #content {width: 1090px; margin: 20px 5px;}
  .wrapper, #title {border: 1px solid #CCC; border-top: 0;}
  .wrapper {float: left; border-right: 0;}
  #pre, .pre-length {width: 50px;}
  #data {width: 320px; }
  #ascii {width: 320px; }
  #unicode {width: 320px; }
  #next {width: 50px; border-right: 3px solid #CCC;}
  #pre, #next { text-align: center;}
  .title-cells {border-bottom: 1px solid red; height: 20px; width; 100%; top: -0; position: absolute; background-color: white;}
  .cell {padding: 0; float: left; display: block; border: 1px solid transparent; height: 18px; width: 18px;}
  .unicode-cell {width: 38px;}

  .cell-hover {background-color: #CCC;}

  .left, .left-block {float: left;}
  .block, .left-block {display: block;}
  .has-height {height: 1px;}

</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function(){
  $(document).scroll(function(){
    $('.title-cells').css('top', $(this).scrollTop());
  });

  $('.cell').hover(function(){
    var id = $(this).attr('id');
    id = (/[^-]-(\d+)/.exec(id) || [null, null])[1];
    var unicodeId = id;
    if(id % 2 == 1)
       unicodeId =  id-1;
    $('#data-'+id+',#ascii-'+id+',#unicode-'+unicodeId).addClass('cell-hover');
  }, function(){
    var id = $(this).attr('id');
    id = (/[^-]-(\d+)/.exec(id) || [null, null])[1];
    var unicodeId = id;
    if(id % 2 == 1)
      unicodeId =  id-1;
    $('#data-'+id+',#ascii-'+id+',#unicode-'+unicodeId).removeClass('cell-hover');
  });
});
</script>
{% endblock %}
{% block content %}
<div id="pre" class="wrapper">
  <a href="###" >Pre</a>
</div>
<div id="data" class="wrapper">
  <div class="title-cells">
      {% for i in 16|range %}
      <span class="cell">{{i|hexStr}}{{i|hexStr}}</span>
      {% endfor %}
  </div>
  {{pe.get_data|toBin|safe}}
</div>
<div id="ascii" class="wrapper">
  <div class="title-cells">
      {% for i in 16|range %}
      <span class="cell">{{i|hexStr}}</span>
      {% endfor %}
  </div>
  {{pe.get_data|toAscii|safe}}  
</div>
<div id="unicode" class="wrapper">
  <div class="title-cells">
      {% for i in 16|range %}
      <span class="cell">{{i|hexStr}}</span>
      {% endfor %}
  </div>
  {{pe.get_data|toUnicode|safe}}
</div>
<div id="next" class="wrapper">
  <a href="###" >Next</a>
</div>

{% endblock %}
